@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

:root {
    --light: #ffffff;
    --light-darker: #e4e4e4;
    --medium: #b8b8b8;
    --dark: #303030;
    --night: #121212;

    --green: #00b00f;
    --green-darker: #00790a;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

button { /*override default styles*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input { /*override default styles*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#map {
    display: grid;
    text-align: center;
}

.svg-map-bg {
    position: relative;
    background: #4794ff;
    margin: 0;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    display: grid;
    width: 900px;
    height: 500px;
    margin: auto;
}

#mapsvg {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: 0px auto;
}

#mapsvgbox {
    grid-area: 1/1;
}

#mapl2 {
    float: left;
    grid-area: 1/1;
    z-index: 100;
    margin: 0;
    width: 900px;
    height: 0px;
}

.gamescreen {
    display: none;
    background: #4794ff;
    height: 100vh;
    overflow: hidden;
}

.header {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin: 20px;
}

.join_input  {
    text-align: center;
}

.name_input {
    width: 80%;
    max-width: 350px;
    padding: 5px;
    font-size: 18px;
    border: 1px solid var(--dark);
}

.h_button_options {
    margin: 20px;
}

.joinbutton {
    width: 120px;
    font-size: 18px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    cursor: pointer;
    transition: 0.4s;
}

.jb_green {
    background-color: var(--green);
    color: var(--light);
}

.jb_green:hover {
    background-color: var(--green-darker);
}

.jb_gray {
    background-color: var(--light-darker);
    color: var(--night);
}

.jb_gray:hover {
    background-color: var(--medium);
}

.leaderboard {
    position: fixed;
    z-index: 69420;
    top: 10px;
    right: 0px;
    background: var(--light);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: left;
    padding: 10px;
    width: 200px;
}

.lb_header {
    font-size: 15px;
    font-weight: bold;
}

.lb_player {
    margin-top: 10px;
    background-color: #f1f1f1;
    margin-left: -30px;
    border-bottom-left-radius: 60px;
    border-top-left-radius: 60px;
    height: 70px;
    position: relative;
    width: 210%;
}

.lb_avatar-frame {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid #fc0320;
    display: inline-block;
}

.lb_p_info {
    display: inline-block;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 10px;
    margin-right: 10px;
}

.lb_p_name {
    font-size: 20px;
    font-weight: bold;
}