<!DOCTYPE html>
<HTML>
    <HEAD>
        <TITLE>Emblitz | Settings</TITLE>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="en">

        <meta name="viewport" content="initial-scale=1.0, width=device-width">
        <LINK REL="stylesheet" HREF="../css/style.css">
        <LINK REL="stylesheet" HREF="../css/settingspage.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="icon" href="./images/icon.png">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-QNCVLQXQCJ"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-QNCVLQXQCJ');
        </script>

        <!-- server-returned player settings and configs -->
        <SCRIPT>
            //or = original
            var or_playercolor = "<%= playercolor %>";

            var playercolor = or_playercolor;
        </SCRIPT>

        <SCRIPT TYPE="text/javascript" SRC="./js/settingspage.js"></SCRIPT>
        <SCRIPT TYPE="text/javascript" SRC="./js/mapdefs.js"></SCRIPT>
    </HEAD>
    <BODY>
        
        <BUTTON CLASS="u-back" ONCLICK="window.location.href='../'"><I CLASS="fa fa-chevron-left"></I></BUTTON>
        <DIV CLASS="s-main">
            <DIV CLASS="s-header"><I CLASS="fa fa-gear"></I> Settings</DIV>
            <DIV CLASS="s-user-profile">
                <DIV CLASS="s-avatar-frame" ID="avatar-frame"><IMG ID="avatar-img" CLASS="s-avatar-img" SRC="../images/defaultpfp.png">
                </DIV>
                <DIV CLASS="s-player-name" ID="player-name"><%= playername %></DIV>
            </DIV>
            <DIV CLASS="s-divider" STYLE="margin-bottom: 15px;"></DIV>
                <BUTTON CLASS="s-option-top jb_gray" ONCLICK="window.location.href='./user/<%= playername %>'"><I CLASS="fa fa-user"></I> My Profile</BUTTON>
                <BUTTON CLASS="s-option-top s-warning" ONCLICK="promptLogout()"><I CLASS="fa fa-sign-out"></I> Log Out</BUTTON>
            <DIV CLASS="s-divider" STYLE="margin-top: 15px;"></DIV>
            <DIV CLASS="s-colorselect">
                <DIV CLASS="s-area-header">Player color:</DIV>
                <DIV CLASS="s-color-selectbar">
                    <BUTTON TITLE="red" ID="red-colorselect" onclick="setColor('red', this)" CLASS="s-cs-button cs-selected"><DIV CLASS="s-cs-inner" STYLE="border: 5px solid red; background: #de4343"></DIV></BUTTON>
                    <BUTTON TITLE="orange" ID="orange-colorselect" onclick="setColor('orange', this)" CLASS="s-cs-button"><DIV CLASS="s-cs-inner" STYLE="border: 5px solid orange; background: #e38d24"></DIV></BUTTON>
                    <BUTTON TITLE="yellow" ID="yellow-colorselect" onclick="setColor('yellow', this)" CLASS="s-cs-button"><DIV CLASS="s-cs-inner" STYLE="border: 5px solid yellow; background: #dec433"></DIV></BUTTON>
                    <BUTTON TITLE="green" ID="green-colorselect" onclick="setColor('green', this)" CLASS="s-cs-button"><DIV CLASS="s-cs-inner" STYLE="border: 5px solid green; background: #41b037"></DIV></BUTTON>
                    <BUTTON TITLE="blue" ID="blue-colorselect" onclick="setColor('blue', this)" CLASS="s-cs-button"><DIV CLASS="s-cs-inner" STYLE="border: 5px solid blue; background: #4367ab"></DIV></BUTTON>
                    <BUTTON TITLE="purple" ID="purple-colorselect" onclick="setColor('purple', this)" CLASS="s-cs-button"><DIV CLASS="s-cs-inner" STYLE="border: 5px solid purple; background: #b240b8"></DIV></BUTTON>
                </DIV>
            </DIV>

            <DIV CLASS="s-more-tt">More settings and profile customization options coming soon!</DIV>
            <BUTTON CLASS="save-button jb_green" ID="save-button" onclick="submitUserSettings()">Save Changes</BUTTON>

            <DIV ID="notifications">
                <!-- notifications display here -->
            </DIV>

            <DIV ID="logout-confirm">
                <DIV ID="lc-content">
                    <DIV CLASS="lc-top"><I ID="lc-exit" CLASS="fa fa-times"></I></DIV>
                    <DIV CLASS="lc-middle">Are you sure you want to log out?</DIV>
                    <DIV CLASS="s-divider" STYLE="border: 1px solid var(--night); margin-top: 15px; margin-bottom: 15px;"></DIV>
                    <DIV CLASS="lc-bottom">
                        <BUTTON CLASS="s-option-top jb_green" ID="cancellogout">No, cancel</BUTTON>
                        <BUTTON CLASS="s-option-top s-warning" ONCLICK="logoutUser()">Yes, logout</BUTTON>
                    </DIV>
                </DIV>
            </DIV>
        </DIV>
    </BODY>
</HTML>