<!DOCTYPE html>
<HTML>
    <HEAD>
        <TITLE>Emblitz | <%- username %></TITLE>
        <meta name="description" content="<%- username %>'s Emblitz profile. Check out <%- username %>'s badges, stats, and more!">
        <meta name="keywords" content="emblitz, pvp, real time, game, video game, videogame, conquest, domination, multiplayer, strategy, battle">
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="en">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <LINK REL="stylesheet" HREF="../css/style.css">
        <LINK REL="stylesheet" HREF="../css/userprofile.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-QNCVLQXQCJ"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-QNCVLQXQCJ');
        </script>

        <SCRIPT>
            const username = "<%- username %>";
        </SCRIPT>

        <link rel="icon" href="../images/icon.png">
        <SCRIPT TYPE="text/javascript" SRC="../js/userprofile.js"></SCRIPT>
    </HEAD>
    <BODY>
        <DIV CLASS="u-banner-container">
            <DIV CLASS="u-banner"></DIV>
            <DIV CLASS="u-banner-content">
                <DIV CLASS="u-avatar-frame" STYLE="border: 5px solid red"><IMG STYLE="width: 150px; height: 150px" SRC="../images/defaultpfp.png"></DIV>
                <DIV CLASS="u-username-big"><%- username %></DIV>
            </DIV>
        </DIV>
        <DIV CLASS="u-body">
            <DIV CLASS="u-playerstats">
                <DIV CLASS="u-playerstats-stat"><IMG CLASS="medal-img" SRC="../images/medal.png"><SPAN ID="wins-amount">--</SPAN> medals</DIV>
                <DIV CLASS="u-playerstats-stat"><SPAN ID="gamesplayed-amount">--</SPAN> games played</DIV>
                <DIV CLASS="u-playerstats-stat">Joined on <SPAN ID="join-date">--/--/--</SPAN></DIV>
            </DIV>
            <DIV CLASS="u-badge-title">Badges</DIV>
            <DIV CLASS="u-container" ID="badge-container">
                
            </DIV>
        </DIV>
    </BODY>
</HTML>